<div>
  
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand text-uppercase" style="color: #32742c;">Proagro fácil</a>
      <form class="d-flex">
        <button class="btn btn-outline-success m-1 text-uppercase" type="submit" routerLink="/">Página inicial</button>
        <button class="btn btn-outline-success m-1 text-uppercase" type="submit" routerLink="add">Novo Registro</button>
      </form>
    </div>
  </nav>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>