<div class="container">
    <div class="row m-3">
        <div class="col-6 offset-3">
            <div class="input-group mb-3">
                <input type="text" class="form-control" mask="000.000.000-00" placeholder="Pesquisar por CPF"
                    [(ngModel)]="farmer_cpf" />
                <div class="input-group-append">
                    <button class="btn btn-success" type="button" (click)="searchCPF()">
                        Pesquisar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            
        </div>
        <div class="col-6">
            <div *ngIf="!currentCroploss.id">
                <table class="table table-light table-hover table-striped radius">
                    <caption class="text-center">Click sobre um item para detalhar</caption>
                    <thead>
                        <tr class="text-center">
                            <th class="col-1">#</th>
                            <th class="col-5">Nome</th>
                            <th class="col-4">CPF</th>
                            <th class="col-2">Evento</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of croploss | paginate: { itemsPerPage: 8, currentPage: p }; let i = index" [class.active]="i == currentIndex" (click)="setActiveCroploss(item, i)">
                            <th class="text-center">{{ i+1 }}</th>
                            <td>{{ item.farmer_name }}</td>
                            <td class="text-center">{{ item.farmer_cpf }}</td>
                            <td class="text-center">{{ item.event_croploss }}</td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
            </div>
            <div *ngIf="currentCroploss.id">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-10">
                                <h5>{{ currentCroploss.farmer_name }}</h5>
                            </div>
                            <div class="col-2">
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <a type="button" class="btn btn-primary btn-sm" (click)="refreshList()"> < </a>
                                    <a type="submit" class="btn btn-success btn-sm" (click)="editCroploss(currentCroploss)" >Editar</a>
                                    <a href="#" type="button" class="btn btn-danger btn-sm">Apagar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text"><strong>E-mail:</strong> {{ currentCroploss.farmer_email }}</p>
                        <p class="card-text"><strong>CPF:</strong> {{ currentCroploss.farmer_cpf }} </p>
                        <p class="card-text"><strong>Localização da lavoura:</strong> {{ currentCroploss.crop_lat }},{{ currentCroploss.crop_long }}</p>
                        <p class="card-text"><strong>Tipo de lavoura:</strong> {{ currentCroploss.crop_type }}</p>
                        <p class="card-text"><strong>Data da colheita:</strong> {{ currentCroploss.harvest_date }}</p>
                        <p class="card-text"><strong>Evento ocorrido:</strong> {{ currentCroploss.event_croploss }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>